@{ 
    Layout = null;
}

<head>
    <title>Check out Sucess</title>
</head>
<body style="text-align: center">
    <h2>CheckOut Success</h2>
    <h4>Bạn đã đặt hàng thành công. Shop sẽ gửi hàng cho bạn trong 2-3 ngày. Thanks</h4>
    <a href="@Url.Action("Index","Product")">Continues Shopping</a>
</body>
